<!-- inherit from base.html-->
{% extends "beekeeping_app/base_template.html" %}

<!-- Replace block content in base_template.html -->
{% block content %}
<h1>Welcome to HIVE</h1>

<!-- Commented out so tests don't have to scroll -->
{% comment %} <p>HIVE is your go-to platform for managing and monitoring your apiary with ease. 
    Designed specifically for beekeepers, HIVE allows users to log in and create their own digital apiary. 
    Once logged in, users can add multiple hives to their apiary, each with its own unique features and details. 
    Whether you're a hobbyist beekeeper or a professional apiarist, 
    HIVE provides the tools you need to keep track of your hives and make informed decisions about their management and care.</p>

<p>Beekeepers often face challenges in efficiently logging and organizing information about their hives. 
    Traditional methods of record-keeping, such as pen and paper, can be cumbersome and prone to errors. 
    Without a centralized system for managing hive data, beekeepers may struggle to keep track of important details, 
    leading to inefficiencies and potentially compromising the health and productivity of their hives. </p>

<p>The goal of HIVE is to provide beekeepers with a user-friendly platform for managing their hives effectively. 
    By centralizing hive data and providing intuitive tools for tracking and monitoring hive activity, 
    HIVE empowers beekeepers to optimize their apiary management practices, enhance hive health, and maximize productivity.

<h3>What makes HIVE special?<h3> 
    
<p>HIVE offers distinct features for both logged-in and non-logged-in users. 
    Logged-in users have the ability to create their own apiaries and hives, with the option to publish them for others to view. 
    Published apiaries and hives serve as valuable resources for other beekeepers and individuals interested in beekeeping. 
    Users can explore published setups, gather inspiration, and even offer suggestions for improvement. 
    This collaborative aspect fosters a sense of community among beekeepers, enabling knowledge sharing and collective learning. </p> {% endcomment %}

<h3>All Published Apiaries: </h3>
    <!-- Display active portfolios - if they have the .is_active as True -->
    {% for apiary in Apiaries %}
        {% if apiary.is_published %}
            <div class="card mb-3">
                <div class="card-body">
                <h5 class="card-title">Name: {{ apiary.keeper.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Apiary: {{ apiary.title }}</h6>
                <a href="{{ apiary.get_absolute_url }}" class="btn btn-primary">View Apiary</a>
                </div>
            </div>
        {% endif %}
  {% endfor %}


{% endblock %}