/* Body */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    font-size: 18px;
}

/* Navbar words */
.nav-item-large {
    font-size: 30px; /* Adjust the font size as needed */
}

/* Links */
a {
    color: #9e7b33; /* Honey Gold */
    text-decoration: none;
    border-bottom: 1px solid #9e7b33; /* Add underline effect */
    font-size: 18px;
}

a:hover {
    color: #7b6a5f; /* Soft Gray */
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background-color: #f5e2a2; /* Pale Yellow */
    color: #333; /* Darkened text for better contrast */
    font-weight: bold; /* Make button text bold */
    font-size: 18px;
}

.btn-primary {
    background-color: #f5e2a2; /* Pale Yellow */
}

.btn-primary:hover {
    background-color: #c9b8a6; /* Soft Brown */
}

/* Forms */
.form-control {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Messages */
.message {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    font-size: 18px;
}

.message-success {
    background-color: #eef9e3; /* Light Green */
    color: #5c8336; /* Dark Green */
    font-size: 18px;
}

.message-error {
    background-color: #fce8e6; /* Light Red */
    color: #b84d4d; /* Dark Red */
    font-size: 18px;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    color: #333; /* Darkened text color for better readability */
}

/* Paragraphs */
p {
    color: #555; /* Slightly lighter text color for paragraphs */
    font-size: 18px;
}

/* Spacing */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
